ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    padding-bottom: 2cm;
    
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(212, 212, 212);
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(34, 67, 130);
  }
  body {background-color: rgb(0, 34, 70);
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          }
  h3 {color: rgb(0, 201, 177);}
  .me {color:rgb(232, 232, 232);
      font-size:xx-large;
      }
  p {color: rgb(143, 143, 143);
      padding-right: 3in;}
  #logo {height: 60px;
      width: 60px;
      border-radius: 1cm;
      margin: 10px;}
  .gitna {padding-left: 3cm;}

  button{border-style: solid;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(0, 201, 177);  
      border-style: solid;
      border-color:rgb(0, 201, 177) ;
      background-color: transparent;
      height: 60px;
      width: 5cm;
      border-radius: 1cm;}
  button:hover{background-color: rgb(105, 255, 205);

}  
h2 {
  color: rgb(0, 201, 177);
  font-size: xx-large;}

  /* CSS for Mobile Devices */
@media (max-width: 768px) {
  /* Halimbawa: I-adjust ang mga elemento sa ul at div */
  ul {
      text-align: center;
  }
  .gitna {
      padding: 20px;
  }
  /* I-adjust ang laki ng imahe sa logo */
  #logo {
      width: 100px;
      height: 100px;
  }
}
